@import "tailwindcss";

@font-face {
    font-family: JetBrains;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url(/src/assets/JetBrainsMono-Regular.woff2) format("woff2");
}

html {
  background-color: #a9a9a9;
  font-family: JetBrains;
  height: 100%;
}

body {
  margin: auto;
  width: 100%;
  max-width: 80ch;
  line-height: 1.5;
  font-size: 3rem;
}

h1 {
  font-size: 4rem;
  text-align: left;
  padding: 0.5rem 1rem;
}

