@import "tailwindcss";

html {
  background-color: #a9a9a9;
  font-family: monospace;
}

body {
  margin: auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  font-size: 3rem;
  text-align: right;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 6rem;
  text-align: left;
}

