---
import '../styles/global.css';
import Social from '../components/Social.astro';
import GlitchLoader from '../components/GlitchLoader.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>JOMSC</title>

  </head>
  <body class="h-full">
	<div class="flex w-full h-full">
		<div class="w-1/2 h-full">
			<h1 class="titre relative z-40 p-8 mix-blend-difference tracking-[-.02em]">
        <a href="/" class="inline-flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-[0.8em] h-[0.8em]" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
            <line x1="19" y1="12" x2="5" y2="12" />
            <polyline points="12 19 5 12 12 5" />
          </svg>
          BACK
        </a>
      </h1>
		</div>
		<div class="corps w-1/2 h-full flex flex-col">
			<h2>LINKS / CONTACT</h2>

        <Social platform="GitHub" username="jomsc"></Social>
        <Social platform="Instagram" username="jo.msc"></Social>
        <GlitchLoader videoSrc="../assets/simon.mp4" minDuration={500} loadingText="LOADING..." />
		</div>
	</div>

	

  </body>
</html>