---
import '../styles/global.css';
import Bouton from '../components/Bouton.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>JOMSC</title>

  </head>
  <body class="h-full">
	<div class="flex w-full h-full">
		<div class="w-1/2 h-full">
			<h1 class="tracking-[-.02em]"><a href="/">JOSEPH MOUSCADET</a></h1>
		</div>
		<div class="corps w-1/2 h-full flex flex-col">
			<h2>PROJECTS</h2>
            <p class="texte">
              <a href="/projects/mp01/">P#01 : Unfolding Flowers</a>
            </p>
		</div>
	</div>

	

  </body>
</html>

