---
import '../styles/global.css';
import { Image } from 'astro:assets';
import image_1 from "../assets/joseph.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>JOMSC</title>

  </head>
  <body class="h-full">
	<div class="flex w-full h-full">
		<div class="w-1/2 h-screen relative overflow-hidden">
      <div class="absolute inset-0 felx items-center justify-center">
        <Image src={image_1} alt="Me!!!" class="min-h-full min-w-full object-cover" />
      </div>

			<h1 class="titre relative z-40 p-8 mix-blend-difference tracking-[-.02em]"><a href="/">JOSEPH MOUSCADET</a></h1>
		</div>
		<div class="corps w-1/2 h-full flex flex-col">
			<h2>WHO AM I ?</h2>
            <p class="texte text-justify">
                My name is Joseph Mouscadet ! 
                I am a french student from ENSTA Paris currently doing a gap year in Paris, and I am interested in a lot of things! <br />
                I love VJing with TouchDesigner, FPV drones, and making all sorts of things myself! 
                I also love electronic music and I do the scenography at my school's student organization for events and concerts. <br />
                Please feel free to reach out if you want to talk with me! 
                <br />
                <br />
                #NoGenAI.
            </p>
		</div>
	</div>

	

  </body>
</html>