---
const { name, link, class: className } = Astro.props;
---
<a href={`/${link}/`} class={className}>{name}</a>

<style>
  a {
    padding: 1rem 2rem;
    color: black;
    background-color: #c7c7c7;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 1px;
  }
</style>